Used Libraries:
                import os
                import sys
                from prettytable import PrettyTable
                import logging
                import json
                import names
                import random
                from random import Random
                from typing import List
                from jinja2 import Environment, FileSystemLoader
                from tabulate import tabulate
                from json import JSONEncoder